<section>
    <div class="container">
        <p class="ptitulo">Editar datos de @<%= env.usuario.usuario %></p>
        <form class="usuario" action="/editarusuario" method="POST">
            <input type="hidden" name="id" value="<%= env.usuario.id %>">
            <div class="usuario__contenedor">
                <div class="col">
                    <p class="infoPerfil">Datos del usuario</p>
                    <div class="linea"></div>
                    <div class="inputs__container">
                        <div class="inputs">
                            <div class="input">
                                <p>Nombre Completo</p>
                                <input class="inp usuario" name="nombre" type="text" placeholder="..." value="<%= env.usuario.nombre %>">
                            </div>
                            <div class="input">
                                <p>Puesto</p>
                                <input class="inp puesto" name="puesto" type="text" placeholder="..." value="<%= env.usuario.puesto %>">
                            </div>
                            <div class="input">
                                <p>Departamento</p>
                                <input class="inp departamento" name="departamento" type="text" placeholder="..." value="<%= env.usuario.departamento %>">
                            </div>
                            <div class="input">
                                <p>Número Celular</p>
                                <div class="numeroCelular">
                                    <input class="inp codigo" name="codigo" type="number" min="0" placeholder="000" value="<%= env.usuario.codigo %>"></input>
                                    <input class="inp celular" name="celular" type="text" min="0" placeholder="..." value="<%= env.usuario.celular %>">
                                    <p>+</p>
                                </div>
                            </div>
                        </div>
                        <div class="foto">
                            <div class="foto__content">
                                <div class="foto__img">
                                    <img src="/assets/imgs/user-default.png">
                                </div>
                                <label for="imagen"><i class="bi bi-pencil-square"></i></label>
                            </div>
                            <input id="imagen" class="inp imagen" type="file" accept=".jpg, .jpeg, .png">
                        </div>
                    </div>
                </div>
                <div class="r-cont">
                    <button type="submit" class="registrar">Editar Registro</button>
                </div>
            </div>
        </form>
    </div>
</section>