<% function getFecha(fecha) { %>
    <% // Obtener la fecha del ticket y la fecha actual del navegador %>
    <% const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; %>
    <% const fechaTicket = new Date(fecha).toLocaleString('es-US', { timeZone }).split(',')[0]; %>
    <% const fechaActual = new Date().toLocaleString('es-US', { timeZone }).split(',')[0]; %>

    <% // Array para la comparativa %>
    <% const meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']; %>
    <% const dias = [31, [28, 29], 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]; %>
    <% const bisiesto = parseInt(fechaActual.split('/')[2]) % 4 === 0; %>
    <% // Validaciones para mostrar la fecha %>
    <% if(fechaTicket === fechaActual) { %>
        <% return 'Hoy a las '; %>
    <% } %>
    <% fechaTicketSplit = fechaTicket.split('/'); %>
    <% fechaActualSplit = fechaActual.split('/'); %>

    <% if(fechaTicketSplit[1] === fechaActualSplit[1] && parseInt(fechaTicketSplit[0]) + 1 === parseInt(fechaActualSplit[0])) { %>
        <% return 'Ayer a las '; %>
    <% } %>

    <% if(fechaTicketSplit[1] === fechaActualSplit[1] && parseInt(fechaTicketSplit[0]) < parseInt(fechaActualSplit[0])) { %>
        <% return `${fechaTicketSplit[0]} de ${meses[fechaTicketSplit[1] - 1]} a las `; %>
    <% } %>
    
    <!-- Validar Febrero -->
    <% if(parseInt(fechaTicketSplit[1]) + 1 === parseInt(fechaActualSplit[1]) && parseInt(fechaTicketSplit[1]) === 2) { %>
        <% if(bisiesto && parseInt(fechaTicketSplit[0]) === dias[fechaTicketSplit[1] - 1][1]) { %>
            <% if(parseInt(fechaActualSplit[0]) <= 1) { %>
                <% return 'Ayer a las '; %>
            <% } %>
        <% } %>
        <% if(!bisiesto && parseInt(fechaTicketSplit[0]) === dias[fechaTicketSplit[1] - 1][0]) { %>
            <% if(parseInt(fechaActualSplit[0]) <= 1) { %>
                <% return 'Ayer a las '; %>
            <% } %>
        <% } %>
        <% return `${fechaTicketSplit[0]} de ${meses[fechaTicketSplit[1] - 1]} a las `; %>
    <% } %>

    <!-- Validar Meses con 31 días -->
    <% if(parseInt(fechaTicketSplit[1]) + 1 === parseInt(fechaActualSplit[1])) { %>
        <% if(dias[parseInt(fechaTicketSplit[1]) - 1] === 31 && parseInt(fechaActualSplit[0]) <= 1) { %>
            <% console.log('JAJAJAJA 31'); %>
            <% return 'Ayer a las '; %>
        <% } %>
    <% } %>

    <!-- Validar Meses con 30 días -->
    <% if(parseInt(fechaTicketSplit[1]) + 1 === parseInt(fechaActualSplit[1])) { %>
        <% if(dias[parseInt(fechaTicketSplit[1]) - 1] === 30 && parseInt(fechaActualSplit[0]) <= 1) { %>
            <% console.log('JAJAJAJA 30'); %>
            <% return 'Ayer a las '; %>
        <% } %>
    <% } %>

    <% if(fechaTicketSplit[1] !== fechaActualSplit[1]) { %>
        <% return `${fechaTicketSplit[0]} de ${meses[fechaTicketSplit[1] - 1]} a las `; %>
    <% } %>
<% } %>

<!-- Obtener la hora formateada a 12 horas -->
<% function getHora(fecha) { %>
    <% const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; %>
    <% const hora12h = new Date(fecha).toLocaleTimeString('es-US', {
        timeZone: timeZone,
        hour12: true,
        hour: 'numeric',
        minute: 'numeric',
    }); %>
    <% return hora12h; %>
<% } %>
<section>
    <div class="container">
        <div class="ticket">
            <div class="details">
                <div class="edit">
                    <h3>Detalles del ticket</h3>
                </div>
                <div class="info">
                    <div>
                        <div class="c1">
                            <% const prioridades = [['r', 'Regular'], ['m', 'Medio'], ['c', 'Crítico']]; %>
                            <% const estado = env.ticket.estado ? ['is', 'Abierto'] : ['', 'Cerrado']; %>
                            <p class="abierto <%= estado[0] %>"><%= estado[1] %></p>
                            <p class="<%= prioridades[env.ticket.prioridad - 1][0] %>"><%= prioridades[env.ticket.prioridad - 1][1] %></p>
                        </div>
                        <div class="c2">
                            <div class="com <%= env.ticket.isRespondido ? 'resp' : '' %>">
                                <% const respuesta = env.ticket.isRespondido ? 'Respondido' : 'En espera'; %>
                                <% if(respuesta === 'Respondido') { %>
                                    <i class="bi bi-chat-left"></i>
                                <% } else { %>
                                    <i class="bi bi-hourglass-split"></i>
                                <% } %>
                                <p><%= env.ticket.estado === 0 && env.ticket.isRespondido === 0 ? 'No se respondió' : respuesta %></p>
                            </div>
                            <p><%= env.usuario.departamento %></p>
                        </div>
                    </div>
                    <div class="fecha">
                        <div class="com">
                            <i class="bi bi-calendar2-week"></i>
                            <p><%= getFecha(env.ticket.fecha) + getHora(env.ticket.fecha) %></p>
                        </div>
                        <form class="perfil__content" action="/verperfil" method="POST" >
                            <label for="verperfil__<%= env.usuario.usuario %>"></label>
                            <div class="perfil">
                                <img src="/assets/imgs/<%= env.usuario.foto ? 'perfil/' + env.usuario.foto : 'user-default.png' %>" onerror="this.onerror=null; this.src='/assets/imgs/user-default.png';">
                            </div>
                            <input type="hidden" name="usuario" value="<%= env.usuario.usuario %>">
                            <button class="verelperfil" id="verperfil__<%= env.usuario.usuario %>" type="submit"></button>
                            <p class="not">@<%= env.usuario.usuario.length >= 11 ? env.usuario.usuario.substring(0, 11) : env.usuario.usuario %></p>
                        </form>
                    </div>
                </div>
                <div class="contenido">
                    <h3 class="titulo"><%= env.ticket.titulo %></h3>
                    <p class="descripcion"><%= env.ticket.descripcion %></p>
                </div>
            </div>
            <% if(env.ticket.isRespondido) { %>
                <div class="linea__punteada"></div>
            <% } %>
            <% if(env.ticket.estado) { %>
                <div class="estado">
                    <% if(!env.ticket.isRespondido) { %>
                        <p class="admin">
                            <img src="/assets/imgs/<%= user.foto ? 'perfil/' + user.foto : 'user-default.png' %>" onerror="this.onerror=null; this.src='/assets/imgs/user-default.png';">
                        </p>
                        <form class="atender__form" action="/averticket" method="POST">
                            <input type="hidden" name="idTicket" value="<%= env.ticket.id %>">
                            <input type="hidden" name="idUser" value="<%= env.ticket.fkUsuario %>">
                            <button type="submit" class="atender">Atender Ticket</button>
                        </form>
                    <% } %>
                </div>
            <% } %>
            <% if(env.ticket.isRespondido) { %>
                <% let nombreAdmin = null; %>
                <div class="estado">
                    <p class="admin">
                        <img src="/assets/imgs/<%= env.admin.foto ? 'perfil/' + env.admin.foto : 'user-default.png' %>" onerror="this.onerror=null; this.src='/assets/imgs/user-default.png';">
                    </p>
                    <p>
                        <% if(user.id === env.ticket.fkAdmin) { %>
                            <% nombreAdmin = user.usuario; %>
                            <span class="admin__nombre">Has atendido este ticket.</span>
                        <% } else { %>
                            <% nombreAdmin = env.admin.usuario; %>
                            <span class="admin__nombre">@<%= nombreAdmin %></span>
                            ha atendido este ticket.
                        <% } %>
                    </p>
                </div>
                <% if(user.id === env.ticket.fkAdmin) { %>
                    <% env.mensajes.forEach(mensaje => {  %>
                        <div class="mensaje">
                            <p class="admin">
                                <% if(mensaje.fkEmisor === user.id) { %>
                                    <img src="/assets/imgs/<%= env.admin.foto ? 'perfil/' + env.admin.foto : 'user-default.png' %>" onerror="this.onerror=null; this.src='/assets/imgs/user-default.png';">
                                <% } else { %>
                                    <img src="/assets/imgs/<%= env.usuario.foto ? 'perfil/' + env.usuario.foto : 'user-default.png' %>" onerror="this.onerror=null; this.src='/assets/imgs/user-default.png';">
                                <% } %>
                            </p>
                            <div>
                                <div class="head">
                                    <% if(mensaje.fkEmisor === user.id){ %>
                                        <p class="admin__nombre">Tú<span><%= getFecha(mensaje.fecha) + getHora(mensaje.fecha) %></span></p>
                                    <% } else { %>
                                        <p class="admin__nombre">@<%= env.usuario.usuario %><span><%= getFecha(mensaje.fecha) + getHora(mensaje.fecha) %></span></p>
                                    <% } %>
                                </div>
                                <div class="cuerpo">
                                    <p><%= mensaje.mensaje %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
                <% if(user.id === env.ticket.fkAdmin && env.ticket.estado) { %>
                    <form class="message__form" action="/message" method="POST">
                        <input type="hidden" name="idTicket" value="<%= env.ticket.id %>">
                        <input type="hidden" name="idEmisor" value="<%= user.id %>">
                        <input type="hidden" name="idReceptor" value="<%= env.ticket.fkUsuario %>">
                        <div class="replica">
                            <h3><i class="bi bi-reply"></i>Añadir comentario</h3>
                            <div class="linea"></div>
                            <textarea name="mensaje" class="comentario" placeholder="Escribe aquí..."></textarea>
                            <div>
                                <button type="submit" class="enviar">Enviar Comentario</button>
                            </div>
                        </div>
                    </form>
                <% } %>
            <% } %>
            <% if(!env.ticket.estado){ %>
                <div class="mensaje">
                    <div>
                        <div class="head last">
                            <p class="admin__nombre">Ticket cerrado. <span><%= getFecha(env.ticket.fechaCierre) + getHora(env.ticket.fechaCierre) %></span></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>